* {
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
  transition: 0.4s;
}
.body {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  background: #4a4949;
}
.text {
  color: #ffffff;
}
.screen {
  margin: 0 auto;
  width:69%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 85% 15%;
}
.slide-container {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  overflow: hidden;
  grid-column: 1/3;
}
.text-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 100%);
  text-align: center;
  overflow: hidden;
}
.control-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.image-container {
  text-align: center;
}
.image {
  height: 58vh;
}
.inp {
  display: none;
}
.lab {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  cursor: pointer;
}
.circle {
  width: 1rem;
  height: 1rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  transition: all ease-in-out .4s;
}
@media (max-width: 768px) {
  .screen {
    width:98%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .image {
    height: 40vh;
  }
  .text-container {
    grid-row: 3/4;
  }
  .control-container {
    grid-row: 2/3;
  }
}

#slide1:checked~.control-container label:nth-of-type(1) .circle,
#slide2:checked~.control-container label:nth-of-type(2) .circle,
#slide3:checked~.control-container label:nth-of-type(3) .circle,
#slide4:checked~.control-container label:nth-of-type(4) .circle {
    background: #ffffff;
}
#slide1:checked~.slide-container .image-container:nth-of-type(1),
#slide2:checked~.slide-container .image-container:nth-of-type(2),
#slide3:checked~.slide-container .image-container:nth-of-type(3),
#slide4:checked~.slide-container .image-container:nth-of-type(4) {
  animation: animate_fading 1s;
  order: -1;
}
#slide1:checked~.text-container .text-h3:nth-of-type(1),
#slide2:checked~.text-container .text-h3:nth-of-type(2),
#slide3:checked~.text-container .text-h3:nth-of-type(3),
#slide4:checked~.text-container .text-h3:nth-of-type(4) {
  animation: animate_fading 1s;
  order: -1;
}
@keyframes animate_fading {
  0% {
		opacity: 0;
	}
  12% {
		opacity: 0.12;
	}
	25% {
		opacity: 0.25;
	}
  37% {
		opacity: 0.37;
	}
	50% {
		opacity: 0.5;
	}
  63% {
		opacity: 0.63;
	}
	75% {
		opacity: 0.75;
	}
  88% {
		opacity: 0.88;
	}
	100% {
		opacity: 1;
	}
}
