* {
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
  transition: 0.4s;
}
.body {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
  background: #4a4949;
}
.text {
  color: #ffffff;
}
.screen {
  margin: 0 auto;
  width: 80%;
  height: 60vh;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 90% 10%;
}
.slide-container {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  overflow: hidden;
  grid-column: 1/3;
}
.text-container {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  overflow: hidden;
}
.control-container {
  display: flex;
  gap: 1rem;
}
.image-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.image-container img {
  height: 100%;
  transition: all ease-in-out .3s;
}
.inp {
  display: none;
}
.lab {
  width: 2rem;
  height: 2rem;
  align-items: center;
  cursor: pointer;
}
.circle {
  height: 1rem;
  width: 1rem;
  margin: 0 auto;
  border: 2px solid #ffffff;
  border-radius: 50%;
  transition: all ease-in-out .3s;
}

#slide1:checked~.control-container label:nth-of-type(1) .circle,
#slide2:checked~.control-container label:nth-of-type(2) .circle,
#slide3:checked~.control-container label:nth-of-type(3) .circle,
#slide4:checked~.control-container label:nth-of-type(4) .circle {
    background: #ffffff;
}
#slide1:checked~.slide-container .image-container:nth-of-type(1),
#slide2:checked~.slide-container .image-container:nth-of-type(2),
#slide3:checked~.slide-container .image-container:nth-of-type(3),
#slide4:checked~.slide-container .image-container:nth-of-type(4) {
  order: -1;
}
#slide1:checked~.text-container .text-h3:nth-of-type(1),
#slide2:checked~.text-container .text-h3:nth-of-type(2),
#slide3:checked~.text-container .text-h3:nth-of-type(3),
#slide4:checked~.text-container .text-h3:nth-of-type(4) {
  order: -1;
}